@import './styles/variables.scss';

.app {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 100vh;
  &__image {
    position: relative;
    &--accent {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $color-accent;
      opacity: 0.6;
      contrast: 500%;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__text {
    &--accent {
      color: $color-accent;
    }
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
