@import './styles/variables.scss';

.app {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__image {
    position: relative;
    width: 100%;
    &--mobile {
      display: block;
      width: 100%;
      object-fit: contain;
      filter: contrast(1.5) brightness(0.75);
    }
    &--desktop {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: contrast(1.5) brightness(0.75);
    }
    &--accent {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $color-accent;
      opacity: 0.75;
      filter: brightness(0.75) saturate(1.2);
    }
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em 0;
    text-align: center;
    background-color: $color-card-bg;
  }
  &__heading {
    width: 80%;
    font-size: 26px; // 26px
    margin-bottom: 0.75em;
  }
  &__description {
    width: 80%;
    line-height: 1.5;
    height: 25%;
    color: $color-main-p;
    margin-bottom: 2.75em;
  }
  &__stats {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    & > :not(:last-child) {
      margin-bottom: 0.75em;
    }
  }
  &__text {
    &--accent {
      color: $color-accent;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 327px;
  max-height: 780px;
}

.container {
  // width: 87.145%;
  margin: 0 auto;
}

@media (min-width: 375px) {
  .app {
    &__description {
      line-height: 1.7;
    }
  }
}

// @media (min-width: 470px) {
//   .app {
//     &__stats {
//       width: 80%;
//       max-width: 375px;
//       flex-direction: row;
//       justify-content: space-between;
//       text-align: left;
//       // gap: 2.5em;
//       height: auto;
//     }
//   }
// }

@media (min-width: 1110px) {
  .wrapper {
    flex-direction: row;
    height: 445px;
    max-width: 1110px;
    align-items: flex-start;
  }

  .container {
    max-width: 1110px;
  }

  .app {
    &__image {
      // width: 50%;
      max-width: 540px;
      height: 100%;
      order: 1;
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }

    &__content {
      // width: 50%;
      text-align: left;
      align-items: flex-start;
      padding: 4em 5em;
      flex-basis: 570px;
    }
    &__heading {
      width: 100%;
      font-size: calc(2.4 * $fz);
    }
    &__description {
      width: 85%;
    }
    &__stats {
      width: 85%;
      max-width: 375px;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      // gap: 2.5em;
      height: auto;
    }
  }
}
