// General
$fz-p: 16px;
$fz-subtitle: 18px;
$fz-title: 26px;
$fz-number: 56px;

// $bg-white: #ffffff;
$bg-red: #fff6f5;
$bg-yellow: #fffbf2;
$bg-green: #f2fbfa;
$bg-blue: #f3f3fd;

// Primary
$primary-light-red: hsl(0, 100%, 67%);
$primary-orange-yellow: hsl(39, 100%, 56%);
$primary-green-teal: hsl(166, 100%, 37%);
$primary-cobalt-blue: hsl(234, 85%, 45%);

// Gradients
$gradient-light-slate-blue: hsl(252, 100%, 67%);
$gradient-light-royal-blue: hsl(241, 81%, 54%);
$gradient-violet-blue: hsla(256, 72%, 46%, 1);
$gradient-persian-blue: hsla(241, 72%, 46%, 0);

// Neutral
$neutral-white: hsl(0, 0%, 100%);
$neutral-pale-blue: hsl(221, 100%, 96%);
$neutral-light-lavender: hsl(241, 100%, 89%);
$neutral-dark-gray-blue: hsl(224, 30%, 27%);
