// Primary
$color-orange: hsl(25, 97%, 53%);
// $color-bg: hsl(228, 11%, 9%);

// Neutral
$color-white: hsl(0, 0%, 100%);
$color-grey-light: hsl(215, 8%, 61%);
$color-grey-medium: hsl(210, 19%, 18%);
$color-blue-dark: hsl(215, 20%, 16%);
$color-blue-very-dark: hsl(228, 11%, 9%);

// Body Copy
$fz: 15px;
